<!DOCTYPE html>
<head>
    <title>Ajax Post</title>
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <h1>My Ajax Posts</h1>
    {% if posts %}
    {% for post in posts %}
    <div id="allPosts" style="border:1px solid silver; margin-top:10px; padding: 10px">
        <p>{{post.post}}--{{post.created_at}} <a href="/delete/{{post.id}}" onclick="delete_func(event,'{{post.id}}');">delete</a></p>
        {%comment%}
        <!-- <p>{{post.post}}--{{post.created_at}} <a href="#" id="delete" >delete</a></p> -->
        {%endcomment%}
    </div>
    {% endfor %}
    {% endif %}
    <div id="newPost" >
    </div>
    <br>
    <form action="/add_post" method="POST" id="add_note">
        {% csrf_token %}
        <label for="post" style="margin-left:10px">Add a post:</label>
        <p><input type="textarea" name="post" placeholder="Enter text here..." style="margin-left:10px";></p>
        <p><input type="submit" id="btn_text" value="Submit Post" class="btn btn-primary" style="margin-left:10px"></p>
    </form>
    <script>
    
    $('#add_note').submit(function(e){
        e.preventDefault()
        console.log('Sending ajax request to', $(this).attr('action'))
        console.log('Submitting the following data', $(this).serialize())
        $.ajax({
            url: $(this).attr('action'),
            method: 'post',
            data: $(this).serialize(),
            success:function(serverResponse){
                $('#newPost').append(serverResponse)
                console.log(serverResponse)
            }
        })
        //$('#add_note').children('post').val('')
        $('#add_note')[0].reset()
    });

    function delete_func(e,id){
        e.preventDefault();
        console.log('got to delete func');
        $.ajax({
            url: '/delete/'+id,
            method: 'get',
            data: id,
            success:function(serverResponse){
                $('#allPosts').empty()
                $('#newPost').empty()
                $('#allPosts').empty(serverResponse)
                console.log(serverResponse)
            }
        })
        
    }

    // $('#delete').click(function(e,id){
    //     e.preventDefault();
    //     console.log('got to delete func');
    //     $.ajax({
    //         url: '/delete/'+id,
    //         method: 'get',
    //         data: id,
    //         success:function(serverResponse){
    //             $('#allPosts').empty()
    //             $('#newPost').empty()
    //             $('#allPosts').empty(serverResponse)
    //             console.log(serverResponse)
    //         }
    //     })
        
    // });

    </script>
    
</body>
</html>