<!DOCTYPE html>
<head>
    <title>Ajax Post</title>
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <h1>My Ajax Posts</h1>
    {% for post in posts %}
    <div id="newPost" style="border:1px solid silver; margin-top:10px; padding: 10px">
        <p>{{post.post}}--{{post.created_at}}</p>
    </div>
    {% endfor %}
    <br>
    <form action="/add_post" method="POST" id="add_note">
        {% csrf_token %}
        <label for="post" style="margin-left:10px">Add a post:</label>
        <p><input type="textarea" name="post" placeholder="Enter text here..." style="margin-left:10px";></p>
        <p><input type="submit" id="btn_text" value="Submit Post" class="btn btn-primary" style="margin-left:10px"></p>
    </form>
    <script>
    
    $('#add_note').submit(function(e){
        e.preventDefault()
        console.log('Sending ajax request to', $(this).attr('action'))
        console.log('Submitting the following data', $(this).serialize())
        $.ajax({
            url: $(this).attr('action'),
            method: 'post',
            data: $(this).serialize(),
            success:function(serverResponse){
                $('#newPost').html(serverResponse)
                console.log(serverResponse)
            }
        })
    });

    </script>
    
</body>
</html>